.backdrop{
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
    // display: none;
}
.modal { 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    overflow: auto;
    left: 50%;
    // top: 50%;
    transform: translate(-50%, 0);
    padding: 55px;
    border-radius: 20px;
    background-color: #629DE2;
    @media screen and (max-width: 475px){
        padding: 35px 25px;
    }
}
.modal__title {
      font-weight: 600;
    font-size: 44px;
    line-height: 96%;
    color: #4B4B4B;
    margin-bottom: 24px;
    text-align: center;
    @media screen and (max-width: 960px){
        font-size: 34px;
    }
    @media screen and (max-width: 767px){
         font-size: 28px;
    }
}
.modal__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
     justify-content: center;
    align-items: center;
}
.modal__input-adress {
    height: 48px;
    width: 512px;
    border-radius: 8px;
    border: 2px solid #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    padding-left: 24px;
    padding-right: 24px;
    &:focus{
        outline: none;
        box-shadow: 12px 12px 22px #F1F6FE, -12px -12px 22px #F1F6FE;
        border-color: #629DE2;
    }
    &:hover{
        border-color: #629DE2;

    }
    @media screen and (max-width: 660px){
        font-size: 16px;
        height: 38px;
        width: 300px;
    }
    @media screen and (max-width: 400px){
    font-size: 14px;
    width: 210px;
    }
}
.modal__btn { display: flex;
    justify-content: center;
    padding: 10px 60px 10px 60px;
    margin-top: 44px;
    align-self: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    border: 2px solid #eb0606;
    border-radius: 12px;
    background-color: #eb0606;
    color: #FFFFFF;
    transition: $transition__stock;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    &:hover, &:focus{
        // border-color: #629DE2;
        background-color: #D10914;
       
        box-shadow: 12px 12px 22px #F1F6FE, -12px -12px 22px #F1F6FE;
    }
    @media screen and (max-width: 767px){
         padding:10px;
         font-size: 20px;
    }
     @media screen and (max-width: 425px){
         margin-top: 24px;
         padding: 10px 60px 10px 60px;
    }
    @media screen and (max-width: 370px){
         font-size: 16px;
         
    }
}
.is-hiden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal__step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}
.step__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.step__list.step__list-radio{
        flex-direction: row;

}
.modal__step-title{
    font-weight: 700;
    font-size: 26px;
    line-height: 108%;
    margin-bottom: 36px;
    text-align: center;
    color: #4B4B4B;
    @media screen and (max-width: 1024px){
        font-size: 22px;
    }
    @media screen and (max-width: 768px){
        font-size: 18px;
    }

}

.buttons__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.previous-step__btn{
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    color:  #F1F6FE;
    border: none;
    margin-top: 48px;
    padding: 10px 40px 10px 40px;
    background-color: rgb(15, 15, 15);
    -webkit-box-shadow: 10px 10px 80px -4px #275eb6;
    -moz-box-shadow: 10px 10px 80px -4px #275eb6;
    box-shadow: 10px 10px 80px -4px #275eb6;
    border-radius: 11px;
    white-space: nowrap;
    transition: $transition__stock;
  
    &:hover,
    &:focus{
        outline: none;
        background-color:  #F1F6FE;
        color: rgb(15, 15, 15);
        transition: $transition__stock;
    }
    @media screen and (max-width: 768px) {  
        padding: 10px 30px 10px 30px;
        font-size: 20px;
    }
      @media screen and (max-width: 425px){
         margin-top: 24px;
         padding: 10px 20px 10px 20px;
    
    }
    @media screen and (max-width: 370px){
         font-size: 16px;
         
    }
}

.step__btn{
    display: flex;
    justify-content: center;
    padding: 10px 90px 10px 90px;
    margin-top: 48px;
    align-self: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    border: 2px solid #eb0606;
    border-radius: 12px;
    background-color: #eb0606;
    color: #FFFFFF;
    transition: $transition__stock;
    text-transform: uppercase;
  
    text-align: center;
    &:hover, &:focus{
        // border-color: #629DE2;
        background-color: #D10914;
       
        box-shadow: 12px 12px 22px #F1F6FE, -12px -12px 22px #F1F6FE;
    }
    @media screen and (max-width: 768px){
        padding: 10px 60px 10px 60px;
        font-size: 20px;
    }
     @media screen and (max-width: 425px){
        margin-top: 24px;
        padding: 10px 40px 10px 40px;
    }
    @media screen and (max-width: 370px){
        font-size: 16px;
    }
}

.help-btn{
    display: flex;
    justify-content: center;
    padding: 10px 60px 10px 60px;
    margin-top: 44px;
    align-self: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    border: 2px solid #eb0606;
    border-radius: 12px;
    background-color: #eb0606;
    color: #FFFFFF;
    transition: $transition__stock;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    &:hover, &:focus{
        // border-color: #629DE2;
        background-color: #D10914;
       
        box-shadow: 12px 12px 22px #F1F6FE, -12px -12px 22px #F1F6FE;
    }
    @media screen and (max-width: 767px){
         padding:10px;
         font-size: 20px;
    }
     @media screen and (max-width: 425px){
         margin-top: 24px;
         padding: 10px 60px 10px 60px;
    }
    @media screen and (max-width: 370px){
         font-size: 16px;
         
    }
}


.is-not-displayed{
    display: none;
}
// .input-radio{
//     position: absolute;
//     top: 0;
//     left: 0;
// }