.response__section {
    padding-top: 0;
}
.response__container {
    padding: 0;
}
._container {
}
.response__wrapper {
    position: relative;
}
.response__bcg-img{
    object-fit: cover;
    width: 100%;
    display: flex;
}
.response__title {
}
.response__description {
}
.response__assessment-container {
}
.response__assessment-item {
}
.response__stars-container {
}
.response__stars-img {
   
 
}
.response__stars-description {
}
.response__btn {
}
.response__img{
    position: absolute;
    top:10%;
    left: 10%;
}